<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Suite" parallel="tests">
	<test name="Test1">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="Selenium.Test.ParallelTest1" />
		</classes>
	</test>
	<test name="Test2">
	<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="Selenium.Test.ParallelTest1" />
		</classes>
	</test>
	<test name="Test3">
	<parameter name="browser" value="ie"></parameter>
		<classes>
			<class name="Selenium.Test.ParallelTest1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
