#container {
	
	width:1350px;
	height:640px;
background: #f2f6f8;
background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f6f8), color-stop(66%, #d8e1e7), color-stop(99%, #b5c6d0), color-stop(100%, #e0eff9));
background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -o-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -ms-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
#content{
	
	width:400px;
	height:400px;
	margin: 50px 475px 50px 475px;
		
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9fd8ef+0,9fd8ef+12,9fd8ef+12,9fd8ef+19,9fd8ef+19,9fd8ef+53,2ab0ed+100 */
background: #f2f6f8;
background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f6f8), color-stop(66%, #d8e1e7), color-stop(99%, #b5c6d0), color-stop(100%, #e0eff9));
background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -o-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: -ms-linear-gradient(top, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 66%, #b5c6d0 99%, #e0eff9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
#header{
	
text-align:center;
	width: auto;
	height: 50px;
	padding: 1px 5px 5px 5px;
	border: thin;
	border-color:aqua;
		 
}
#login_header{
	padding-top:20px;
	text-align:center;
	color:#1ba4a6;
}
	

#divlogin{
	position:static;
	top:30%;
}
#orgid{
	width:150px;
	float:left;
	margin-top:5px;
	margin-left:10px
}
#userid{
	width:150px;
	float:left;
	margin-top:5px;
	margin-left:10px
}
#password{
	width:150px;
	float:left;
	margin-top:5px;
	margin-left:10px
}
#submit{
	width:246px;
	height:40px;
	font-weight:bold;
	font-size:20px;
	color:white;
	float:left;
	clear:left;
	margin:0px 100px 100px 0px;
	background-color:#3784b0;
}
#login_ele1,#login_ele2,#login_ele3{
padding:5px 5px;
margin-left:70px;
	width:320px;
	height:30px;
	border-width:2px;
	border-color:red;
}

#login_ele4{
padding:5px 5px;

	width:320px;
	height:30px;
	border-width:2px;
	border-color:red;
	margin:30px 0px 0px 70px;
}
.login_inp{
	
	float:left;
}

.lbl_cls{
	float:left;
	clear:left;
	margin-top:5px;
	color:#14566f;
	padding-right:10px;
	width:70px;
	

}
.btn_type_class{

}
h1{
	padding-top:30px;
	text-align:center;
}
